.form-container > div {
    display:flex;
    flex-flow:column;
    padding:0.5em 0;
    width:100%;
}

.form-container {
    width:300px;
}

.form-container button {
    border: 1px solid #c9b38c;
}

.form-container button:hover {
    background-color:#ffffff;
}