.complaint {
    display:flex;
    flex-flow:column;
    margin: 20px 10%;
}

.complaint label{
    display:none;
}

@media screen and (min-width:786px) {
    .complaint button {
        width:200px;
        margin-top:20px;
    }
    .complaint input {
        margin-bottom:20px;
        width:97%;
    }
    .complaint textarea {
        width:100%;
        min-height:300px;
    }
    .complaint > .row {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    .complaint > .row > div {
        flex-basis:100%;
    }
}