.header {
    display:flex!important;
    justify-content: space-around;
    background-color:#262b3e;
    align-items:center;
    min-height:100px;
    position:sticky;
}

.header-logo {
    flex:1;
    padding:0 40px;
}

.navigation {
    flex:2;
    text-align:right;
}

nav {
    list-style:none;
    display:inline-flex;
}

nav > li > a {
    color:#fff;
    text-decoration:none;
}

.header-logo img {
    width: 150px;
}
@media screen and (min-width: 600px) {
    nav > li > a {
        padding:1em;
    }
    nav > li > a:first-child {
        padding:1em 1em 1em 0;;
    }
    nav > li > a:last-child {
        padding:1em 0.1em 1em 1em;;
    }
}

@media screen and (min-width:900px) {
    nav > li > a {
        padding:2.75em;
    }
    nav > li > a:first-child {
        padding:2.75em 2.75em 2.75em 0;;
    }
    nav > li > a:last-child {
        padding:2.75em 0.5em 2.75em 2.75em;;
    }
}