.blog-post {
    display:flex;
    flex-flow:column;
    justify-content:space-around;
    margin: 20px 0;
}

@media screen and (min-width:786px) {
    .blog-post input {
        width:100%;
        margin-bottom:20px;
    }

    .blog-post select {
        margin:20px 0;
    }
    
    .blog-post textarea {
        width:100%;
        min-height:400px;
    }
    .blog-post button {
        width:200px;
    }
}